<template>
    <footer>
    <div class="contact-row">
        <a href="https://instagram.com/tibetanprayerflags" target="_blank"><img class="contact-icon" src="/images/instagram.png" alt=""></a>
        <a href="mailto:tibetanprayerflag@gmail.com"><img class="contact-icon" src="/images/email.png" alt=""></a>
        <a href="tel:15038107355"><img class="contact-icon" src="/images/phone.png" alt=""></a>
    </div>
    </footer>
    
</template>
