<template>
    <div class="knots"  style="z-index:-1;width: 100vw;height: 100vh;position: fixed;display:flex;flex-flow:column;justify-content:center;">
    <img src="/images/endless-knot-corner-left.png" class="corner-knot-l" alt="">
    <img class="corner-knot-r" alt="" src="/images/endless-knot-corner-left.png">
    <img src="/images/endless-knot-corner-left.png" class="corner-knot-l-bottom" alt="">
    <img class="corner-knot-r-bottom" alt="" src="/images/endless-knot-corner-left.png">
    <div style="display:flex;flex-flow:row;justify-content:center;width:100vw;height:100vw;">
      <img src="/images/mandala.png" style="max-height:100vw;height:100%;margin:auto;position:fixed;animation:spin 60s linear infinite" alt="">
    </div>
  </div>
</template>