<template>
    <header>
      <div class="greeting-2">
        <h1 class="greeting-a-2">བཀྲ་ཤིས</h1>
        <h3 class="greeting-b-2">TIBETAN PRAYER FLAGS</h3>
        <p>prayers for peace around the world</p>
      </div>
      <div class="title"></div>
      <nav>
        <div class="nav-row">
          <nuxt-link class="menu-item" to="/">
            <p>Home</p>
          </nuxt-link>
          <nuxt-link class="menu-item" to="/shop">
            <p>Shop</p>
          </nuxt-link>
          <nuxt-link class="menu-item" to="/about">
            <p>About</p>
          </nuxt-link>
          <nuxt-link class="menu-item" to="/wholesale">
            <p>Wholesale</p>
          </nuxt-link>
          <nuxt-link class="menu-item" to="/contact">
            <p>Contact</p>
          </nuxt-link>
        </div>

      </nav>
    </header>
</template>