<template>
  <div class="site">
    <!-- page header -->
    <pageHeader />

    <!-- content -->
    <div class="site-content">

    </div>

    <!-- site footer -->
    <pageFooter />
    <pageBackground />
  

  </div>
</template>

<script>
import pageHeader from '~/components/layout/pageHeader'
import pageFooter from '~/components/layout/pageFooter'
import pageBackground from '~/components/layout/pageBackground'

export default {
  components: {
    pageHeader,
    pageFooter,
    pageBackground
  }
}
</script>

<style>
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}
</style>